body {
    background-image: url('clouds.png');
    background-position: center;
    background-size: 100% auto;
    align-content: center;
    text-align: center;
}

#bin {
    float: right;
    height: 65px;
    width: 90px;
}

#back {
    float: right;
    height: 110px;
    width: 90px;
}