body {
    background-image: url('clouds.png');
    background-position: center;
    background-size: 100% auto;
    align-content: center;
    text-align: center;
}

.files {
    background-image: url(fileExplorers.png);
    background-position: center;
    width:565px;
    height:475px;
    text-align: center;
}

.files {
    padding-left: 240px;
    padding-top: 150px;
}