body {
    background-image: url('../misc/mountain.jpg');
    background-position: center;
    background-size: 100% stretch;
    align-content: center;
    text-align: center;
}

.files {
    background-image: url('fileExplorers.png');
    background-position: center;
    width:565px;
    height:475px;
    text-align: center;
}

.files {
    padding-left: 240px;
    padding-top: 150px;
}

#bin {
    float: right;
    height: 65px;
    width: 90px;
}

#back {
    float: right;
    height: 110px;
    width: 90px;
}