.files {
    background-image: url('recycle.png');
    background-repeat: no-repeat;
    background-position: center;
    width:1000px;
    height:490px;
}

body {
    background-image:url('../misc/mountain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#bin {
    float: right;
    height: 65px;
    width: 90px;
}

#back {
    float: right;
    height: 110px;
    width: 90px;
}