body {
    background-image: url('../misc/cliffside.jpg');
    background-position: center;
    background-size: 100% stretch;
    align-content: center;
    text-align: center;
}

h2 {
    font-family:'Times New Roman', Times, serif;
    color:rgb(17, 63, 214);
}

#bin {
    float: right;
    height: 65px;
    width: 90px;
}

#back {
    float: right;
    height: 110px;
    width: 90px;
}