#me {
    width: 160px;
    height: 160px;
}

#korok {
    width: 160px;
    height: 160px;
}

#celeste {
    width: 160px;
    height: 160px;
}

#everyone {
    width: 160px;
    height: 160px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

body {
    background-image: url('clouds.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% stretch;
    text-align: center;
}

#bin {
    float: right;
    height: 65px;
    width: 90px;
}

#back {
    float: right;
    height: 110px;
    width: 90px;
}