#bin {
    float: right;
    height: 65px;
    width: 90px;
}

.testing {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 40px;
    align-items: start;
    border: 1024px;
}

* {
    box-sizing: border-box;   
}