#bin {
    float: right;
    height: 65px;
    width: 90px;
}

nav {
    text-align: center;
    /* font-size: idk, experiment here */
    padding: 10px 20px;
    position: relative;
    padding-bottom: 20px;
}

.content {
    padding: 20px;
}

/* * {
    box-sizing: border-box;   
} */

.container {
    display: grid;
    grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
    grid-template-columns: 1fr 3fr;
    gap: 5px;
    padding: 20px;
}

.menu {
    text-align: center;
    
}