.pfpLineup {
    width: 170px;
    height: 170px;
}

#back {
    float: right;
    height: 110px;
    width: 90px;
}

body {
    background-color: black;
    background-image: url('redcarpet.png');
    background-size: 100% auto;
}


table {
    color: rgb(232, 248, 0);
    font-family:'Times New Roman', Times, serif;
}

a {
    color: rgb(232,248,0);
}

#bin {
    float: right;
    height: 65px;
    width: 90px;
}